body
{
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.2;
  margin: 0px;
}

hr
{
  display: none;
}

/* Zarovnani obsahu */
.inner
{
  padding: 0px 10px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 630px;
}

/* Horni fixed bar */
#topmenu
{
  z-index: 1000;
  padding-right: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 29px;
  background-color: #666666;
}

#topmenu a
{
  z-index: 1001;
  float: right;
  margin-left: 20px;
  margin-top: 5px;
  padding-right: 10px;
  font-size: 11pt;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  background-image: url('images/loginlink.png');
  background-repeat: no-repeat;
  background-size: 8px 11px;
  background-position: right center;
  position: absolute;  
  left: -999px;
}

#topmenu .login
{
  z-index: 1001;
  position: relative;
  left: 0px;
}

#topmenu a:active, #topmenu a:focus
{
  z-index: 1001;
  color: #FAA732;
  position: relative;
  left: 0px;  
}

/* Ikony socialnich siti na fixed baru */
#social
{
  z-index: 1001;
  position: fixed;
  top: 0px;
  left: 0px;
}

#social .twitter
{
  z-index: 1001;
  float: left;
  background-image: url('images/i_twitter.png');
  width: 22px;
  height: 22px;
  margin: 3px;
}

#social .fb
{
  z-index: 1001;
  float: left;
  background-image: url('images/i_fb.png');
  width: 22px;
  height: 22px;
  margin: 3px;
}

#social .linkedin
{
  z-index: 1001;
  float: left;
  background-image: url('images/i_linkedin.png');
  width: 22px;
  height: 22px;
  margin: 3px;
}

#social span
{
  z-index: 1001;
  display: none;
}

/* Logo, menu */
#header
{
  overflow: hidden;
  background-color: #F7F8FF;
  padding: 24px 0px 0px 0px;
  border-bottom: 1px solid #EEEEEE;
  min-width: 650px;
  padding-bottom: 8px;
}

/* Hlavni horni logo */
#header h1
{
  background-image: url('images/logo.png');
  width: 188px;
  height: 71px;
  float: left;
  margin: 15px 0px 0px 36px;
}

#header h1 span
{
  display: none;
}

/* Hlavni menu */
#menubar
{
  float: right;
  left: 30%;
}

#menu
{
  list-style-type: none;
  padding-left: 0px;
  padding-top: 10px;
}

#menu li
{
  display: inline-block;
  border: 1px solid white;
  margin: 0px 10px;
  vertical-align: top;
}

#menu a
{
  color: #777777;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  padding: 14px 20px 14px 20px;
}

#menu a:hover
{
  background-color: white;
}

#menu .dropdown a
{
  padding: 14px 30px 14px 20px;
  background-image: url('images/caretb.png');
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: 85% center;
}

#menu .selected a, #menu .selected a:hover
{
  background-color: #42B3E5;
  color: white;
  background-image: url('images/caretw.png');
}

/* Hlavni obsah */
#main
{
  clear: both;
}

#main header
{
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 40px;
}

#main h2
{
  font-size: 30pt;
  color: #475672;
}

#main header
{
  clear: both;
  padding-right: 50px;
}

#main header p
{
  display: inline;
  font-style: italic;
  margin: 0;
  max-width: 400px;
}

#main .btn
{
  float: right;
  margin-right: 20px;
  position: relative;
}

#main header .btn a
{
  position: relative;
  color: white;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 14px 20px 14px 20px;
}

#main .demo a
{
  background-color: #FAA732;
}

#main .docs a
{
  background-color: #42B3E5;
}

#main section
{
  margin-bottom: 50px;
}

#main section img
{
  clear: both;
  float: right;
  padding: 0px 15px;
  margin-bottom: 50px;
}

#main section h3
{
  margin: 0px;
  font-size: 24pt;
  color: #475672;
}

#main section p
{
  display: block;
}

/* Spodni mikro-bloky */
#related
{
  overflow: hidden;
  background-color: #3F5673;
  color: white;
  font-size: 11pt;
  min-width: 650px;
  padding: 4px 0px 20px 0px;
}

#related a
{
  color: #42B3E5;
}

#related h3
{
  font-size: 14pt;
}

#related h4
{
  font-size: 12pt;
  margin: 0;
  clear: both;
}

#related p {
  overflow: hidden;
  position: relative; 
  max-height: 4.8em;
  margin: 0 0 8px 0;
}

#related section a
{
  color: white;
}

#related section strong
{
  float: left;
  display: block;
  font-size: 10pt;
  color: #42B3E5;
  margin-bottom: 18px;
  padding-left: 14px;
}

/* Levy sloupec */
#related #news
{
  float: left;
  width: 31%;
  padding: 0 1% 0 0;
  margin: 0;
}

/* Stredni sloupec */
#related #references
{
  float: left;
  width: 31%;
  padding: 0 1%;
  margin: 0;
}

/* Pravy sloupec */
#related #didyouknow
{
  float: left;
  width: 31%;
  padding: 0 1%;
  margin: 0;
}

#related q
{
  display: block;
}

#related #references .sgn
{
  display: block;
  font-size: 10pt;
  color: #42B3E5;
  margin-bottom: 18px;
  margin-top: 8px;
  padding-left: 14px;
}

#related .thumb
{
  text-decoration: none;
  color: white;
}

/* Paticka */
#footer
{
  background-color: #666666;
  min-width: 630px;
  color: white;
  overflow: hidden;
  font-size: 10pt;
  padding: 10px;
  margin: 0;
  list-style-type: none;
  clear: both;
}

#footer .inner
{
  padding: 0px 10px;
  max-width: 100%;
  min-width: 630px;
}

#footer .menu
{
  float: right;
  margin: 0;
}

#footer #copy
{
  float: left;
}

#footer li
{
  display: inline-block;
  margin: 0px 10px;
}

#footer a
{
  color: white;
  display: block;
}